*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//***** VARİABLES ******

$bg-color:#bb66ff;
$font-family:Arial, Helvetica, sans-serif;
$font-size:1.2rem;
$font-color:#333;
$nav-bg-color:#007bff;
$my-border:2px solid #ddd;
$bannerBgColor:#0056B3;
$buttonBgColor:#28a745;
$lightColor: #f8f9fa;
$darkColor: #343a40;

body{
    background-color: $bg-color;
    font-family: $font-family;
    font-size: $font-size;
    color: $font-color;
}

// ***** Header *****

header{
    background-color: $nav-bg-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    img{
        width: 80px;
        border: $my-border;
        padding: 5px;
        border-radius: 10px;
    }

    ul{
        list-style-type: none;

        li{
            display: inline-block;
            padding: 0.5rem;
            &:hover{
                text-decoration: underline;
            }

            a{
                text-decoration: none;
                color: white;
                &:hover{
                    color: $font-color;
                }
            }
        }
    }
}

// ***** Banner *****

.banner{
   background-color: $bannerBgColor;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 2rem;
   color: white;
   line-height: 1.5;

   aside{
    button{
        background-color: $buttonBgColor;
        padding: 0.75rem 1.5rem;
        border: none;
        margin-top: 1rem;
        margin-left: 0.5rem;
        color: $lightColor;
        font-weight: bold;
    }
   }

   img{
    width: 30%;
    max-width: 400px;
    min-width: 250px;
   }
}